@use '/src/assets/styles/abstract' as a;

.feature {

  &__section {
    position: relative;

    &--wide {
      display: grid;
      text-align: center;

      @include a.breakpoint(medium) {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: left;
      }

      &:nth-child(2n-1) {
        & > :first-child {
          @include a.breakpoint(medium) {
            grid-area: 1/2;
          }
        }
      }
    }
  }
  
  &__image {
    width: 100%;
    
    & > *{
      width: inherit;
    }
  }
  
  &__two-column {
    @include a.breakpoint(medium) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__section-text {
    display: grid;
    justify-items: center;
    gap: 2rem;
    padding: 4rem 1.5rem;
    
    @include a.breakpoint(medium) {
      justify-items: flex-start;
      padding: 0 8rem;
    }
    
    &--body {
      color: a.$clr-grey-500;
    }
  }

  &__section-text-overlay {
    display: grid;
    gap: 1.75rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: min(100%, 40rem);
    padding: 4rem 1.5rem;
    text-align: center;
    z-index: 1;
    transform: translate(-50%);
    
    &--blue {
      color: a.$clr-blue-800;
    }

    &--green {
      color: a.$clr-green-700;
    }
    
    &--header {
      font-size: 1.75rem;
    }
    
    &--body {
      font-size: 1rem;
    }
  }
}