@use '/src/assets/styles/abstract' as a;

.header {
  position: absolute;
  width: 100%;
  padding: 1.5rem 0;
  z-index: 100;
  
  @include a.breakpoint(medium) {
    padding: 4rem 0;
  }
  
  &__logo {
    width: 8rem;
    
    @include a.breakpoint(medium) {
      width: 12rem;
    }
  }

  &__content {
    grid-area: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}