@use '/src/assets/styles/abstract' as a;

.header {
  position: absolute;
  width: 100%;
  padding: 2rem 3rem;
  z-index: 100;
  
  &__logo {
    width: 8rem;
    
    @include a.breakpoint(medium) {
      width: 12rem;
    }
  }

  &__content {
    grid-area: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    //display: none;
    gap: 3rem;
    align-items: center;
  }
  
  &__links {
    display: flex;
    gap: 3rem;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.4;
    color: a.$clr-white;
  }
}