// Colors

// Main Colors

// Green
$clr-green-200: #90D4C6;
$clr-green-500: #458D7E;
$clr-green-700: #24554A;

// Blue
$clr-blue-800: #052C3B;

// Yellow
$clr-yellow-500: #FAD400;
$clr-yellow-600: #FBD600;

// Orange
$clr-red-400: #FE7766;

// Neutrals
$clr-white: #ffffff;
$clr-off-white: #FFFCF8;
$clr-white-100: #FFFFFF3F;
$clr-grey-500: #808397;
$clr-grey-600: #5B636D;
$clr-black: #24303E;

// Specific Colors
$clr-background: #ffffff;
